{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": "src",
  "exclude": [
    "src/errors.ts",
    "src/constants.ts",
    "src/index.ts",
    "src/bot.ts",
    "src/infra/typeorm"
    ],
  "reporter": ["html", "text", "text-summary"],
  "all": true,
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100
}
